html, body {
    margin: 0;
    background-color: #262c31;
    height: 100%;
    padding: 0;
}

.main {
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;

}

.header {
    text-align: center;
    height: 40px;
}

.brand {
    padding-top: 15px;
    margin: 0;
}

.center {
}

#left, #right, #rightBefore {
    float: left;
}

#left {
    width: 300px;
    background-color: #505d71;
    height: 100%;
    border-bottom-left-radius: 10px;


}

#right {
    width: 600px;
}

#rightBefore {
    text-align: center;
    width: 600px;
    border-top: 1px solid #505d71;
    background-color: #b1bdc4;

}

#chat {

}

#chat-header {
    text-align: center;
    background-color: #505d71;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
    height: 30px;
    margin: 0px;
    border-left: 1px solid #b1bdc4;


}

.input-message, .button {
    float: left;
    display: block;
}

.input {
    width: 395px;
    border: 0;
    height: 40px;
    margin: 0 50px;
    border-radius: 5px;
    padding-left: 5px;
}

.submit {
    width: 80px;
    border: 0;
    height: 40px;
    border-radius: 5px;
    background-color: #a0b4c0;
}

#left-up {
    overflow-y: auto;
    overflow-x: hidden;
}

#left-down {
    height: 60px;
    background-color: #445166;
    border-bottom-left-radius: 10px;
    color: white;
    text-align: center;


}

#u-name {
    padding-top: 20px;
    margin: 0;
}

.message {
    height: 60px;
    background-color: #e4eaee;

}

.panel {
    vertical-align: middle;
    padding-top: 10px;
}

#messages {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: normal;
    background-color: #b1bdc4;

}

#startMess {
    font-weight: 300;
    align-self: center;
    margin-top: 50%;
    width: 44%;
    padding: 1.3%;
    border-radius: 10px;
    background-color: #e4eaee;
    margin-left: 28%;
}

.chatContainer {
    margin: 0px;
    width: 100%;
    height: 75px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    color: white;
    border-bottom: 1px solid #8e9faa;
}

.chatContainer:hover {
    background-color: #8e9faa;
    color: #ffffff;


}
hr {
    margin: 0;
}

.usersBlock{
    margin: 0;
}

#right-message {
    text-align: right;
    min-height: 40px;
    margin: 10px auto;
}

#left-message {
    text-align: left;
    margin: 25px auto;
}

.message-decor {
    padding: 10px;
    background-color: #e4eaee;
    border-radius: 10px;
    line-height: normal;
}

#searchContainer{
    margin: 0px;
    width: 100%;
    height: 50px;


}

#searchField{
    margin-top: 5%;
    margin-left: 6%;
    padding: 1%;
    width: 85%;

}

#searchRes {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;


}

.searchedItemContainer{
    margin: 0px;
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: large;
}

.searchedItemContainer:hover {
    background-color: #e4eaee;
}