body {
  background-color: #bdd3e1 !important;
  margin-bottom: 60px;
  overflow: hidden;
}

.row {

  margin: 0 !important;
}

.padding{
  padding: 0 !important;
}

.clear {
  clear: both;
}

.main {
  max-width: 994px;
  margin: 0 auto;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
}

.left {
  background-color: #424451;
  padding: 0 !important;
}

.right {
  background-color: #e8ecef;
  padding: 0 !important;
}

.right-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /*line-height: 100px;*/
  border-top: 3px solid white;

}
#right-footer {
  display: none;
}


.search-holder{
  width: 190px;
  margin: 30px 20px;
  display: block;

}

#searchField {
  background-color: #656870;
  padding: 15px;
  border: 0;
  color: #a39e92;
  border-radius: 5px;
  margin: 0 auto;
}

#searchField:focus{
  outline: none;
}

.user-chat , .user-chat-container{
  color: white;
  margin-top: 0px;
  padding: 5px 0;
}


.user-chat-container{
cursor: pointer;
}


.user-chat-container:hover {
  color: #424451 ;
  background-color: #8e9faa;
}

.circul {
  width: 60px;
  height: 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 4px solid green;
  margin-left: 15px;
}

.user-info {
  font-weight: bold;
  line-height: 2;
}

.rigt-header {
  height: 100px;
  border-bottom: 3px solid white;
}

.right-header-container {
  margin-top: 20px;
  width: 100%;
}

.messages {
  overflow: auto;
  overflow-x: hidden;
}

#left-message {

}

#right-message {

}

.right-container {
  float: right;
  display: block;
  max-width: 70%;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #7fa5c9;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.left-container{
  max-width: 70%;
  margin: 5px;
  padding: 10px;
  background-color: #739f61;
  border-radius: 10px;
  float: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.input, .submit {
  line-height: normal;
}

.right-footer-container {
  height: 50px;
}

.input-container {
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 15px;
}

.input {
  width: 100%;
  height: 50px;
  line-height: normal;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #7ea7ca;
}

.input {
  resize: none !important;
}

.submit-container {
  max-width: 400px;
  margin: 0 auto;
}

.submit {
  float: right;
  color: #7ea7ca;
  font-weight: normal;
  font-size: 14pt;
  background-color: inherit;
  border: 0;
}

.submit:hover {
  border: 0;
}

.search-res {
  display: none;
  padding-left: 0px;
  color: white;
  font-size: 13pt;
  line-height: 2;
}

#select-chat{
  background-color: #424451;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  margin-top: 50px;
}

.searchedItemContainer{
  padding-left: 20px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchedItemContainer:hover{
  background-color: #8e9faa;
  color: #424451;
}

.user-last-mesasge {
  font-weight: normal;
  font-size: 9pt;
  width: 100px;
  /*word-wrap: break-word;*/
  /*overflow-wrap: break-word;*/
  word-break: break-all;
  overflow-y: hidden;
  height: 28px;
  float: left;
  vertical-align: middle;
  line-height: 28px
}

.last-msg-dot {
  display: none;
  font-size: 9pt;
  margin-left: 1px;
  margin-bottom: 2px;
}

#last-msg-cut-check{
  position: absolute;
  z-index: -100;
  font-size: 9pt;
  max-width: 150px;
  overflow: hidden;
}

.small-menu {
  text-align: center;
  font-size: 16pt;
  margin-top: 15px;
  padding-left: 10px !important;
}


.drawmenu {
  position: fixed!important;
  z-index: 100;
}